.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 140px;
    padding-right: 140px; */
}
.logo{
    width: 150px;
    height: 40px;
}
.main-nav{
    margin-bottom: 66px;
}
.nav-link{
    margin-left: 10px;
}
.header a:hover{
    color: orange;
}
.btn-login{
    margin-right: 16px;
}